In [1]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data.csv",encoding="latin-1")
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [4]:
df.describe

<bound method NDFrame.describe of        Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]>

In [5]:
df['Area'].count()

60943

In [6]:
group= df.groupby('Area')['Y2017'].sum()

group

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
Côte d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

question2

In [13]:
df.groupby(['Area'])['Y2017'].min().reset_index()

                           Area   Y2017
0                       Algeria   -81.0
1                        Angola  -250.0
2                         Benin  -125.0
3                      Botswana   -38.0
4                  Burkina Faso  -281.0
5                    Cabo Verde    -7.0
6                      Cameroon  -147.0
7      Central African Republic    -1.0
8                          Chad   -37.0
9                       Comoros     0.0
10                        Congo    -4.0
11                Côte d'Ivoire  -244.0
12                     Djibouti    -2.0
13                        Egypt -1582.0
14                     Eswatini  -100.0
15                     Ethiopia  -792.0
16                 Ethiopia PDR     0.0
17                        Gabon   -37.0
18                       Gambia    -2.0
19                        Ghana  -121.0
20                       Guinea  -108.0
21                Guinea-Bissau    -3.0
22                        Kenya  -186.0
23                      Lesotho    -4.0
24                      Liberia   -19.0
25                   Madagascar  -324.0
26                       Malawi   -50.0
27                         Mali  -600.0
28                   Mauritania    -1.0
29                    Mauritius   -25.0
30                      Morocco  -229.0
31                   Mozambique -1200.0
32                      Namibia   -35.0
33                        Niger  -682.0
34                      Nigeria  -694.0
35                       Rwanda  -631.0
36        Sao Tome and Principe     0.0
37                      Senegal   -68.0
38                   Seychelles     0.0
39                 Sierra Leone  -180.0
40                 South Africa  -144.0
41                        Sudan  -819.0
42               Sudan (former)     0.0
43                         Togo   -32.0
44                      Tunisia  -186.0
45                       Uganda  -180.0
46  United Republic of Tanzania  -865.0
47                       Zambia   -42.0
48                     Zimbabwe  -521.0

question 3

In [15]:
df.groupby(['Area'])['Y2017'].sum().reset_index()

                           Area       Y2017
0                       Algeria   325644.27
1                        Angola   229159.57
2                         Benin   124771.22
3                      Botswana    22101.30
4                  Burkina Faso   101855.07
5                    Cabo Verde    14650.74
6                      Cameroon   232030.43
7      Central African Republic    29937.00
8                          Chad    71594.68
9                       Comoros       59.84
10                        Congo    41181.68
11                Côte d'Ivoire   224599.01
12                     Djibouti    22729.91
13                        Egypt   866379.92
14                     Eswatini    54343.33
15                     Ethiopia   448683.76
16                 Ethiopia PDR        0.00
17                        Gabon    27979.64
18                       Gambia    23154.18
19                        Ghana   337599.06
20                       Guinea    98138.87
21                Guinea-Bissau    19102.77
22                        Kenya   264660.66
23                      Lesotho    21267.96
24                      Liberia    29342.20
25                   Madagascar   131197.73
26                       Malawi   181098.71
27                         Mali   149928.33
28                   Mauritania   156665.46
29                    Mauritius    51114.83
30                      Morocco   388495.36
31                   Mozambique   161407.98
32                      Namibia    29874.89
33                        Niger   126707.58
34                      Nigeria  1483268.23
35                       Rwanda    73663.69
36        Sao Tome and Principe    12662.63
37                      Senegal    95681.15
38                   Seychelles      442.34
39                 Sierra Leone    55311.33
40                 South Africa   517590.54
41                        Sudan   239931.92
42               Sudan (former)        0.00
43                         Togo    49841.88
44                      Tunisia   124167.20
45                       Uganda   213950.38
46  United Republic of Tanzania   322616.85
47                       Zambia   103223.77
48                     Zimbabwe    75919.34

question7

total number of processing in 2017

In [16]:
Sum= df['Y2017'].sum()
Sum

8375729.189999999